
@model PlacementData.Models.IdModel

<br /><br />
      <div class="container">
          <div class="form-group">
              @if (ViewBag.YearList != null)
              {
                  @Html.DropDownListFor(model => model.YearId, ViewBag.YearList as SelectList, "--Select Year--", new { @class = "form-control" })
              }
          </div>
          <div class="form-group">
              @if (ViewBag.BranchList != null)
              {
                  @Html.DropDownListFor(model => model.BranchId, ViewBag.BranchList as SelectList, "--Select Branch--", new { @class = "form-control" })
              }
          </div>
          <div class="form-group">
              @Html.DropDownListFor(model => model.SectionId, new SelectList(" "), "--Select Section--", new { @class = "form-control" })
          </div>
          <a href="/Home/getData" class="Button">Text</a>
          <input type="button" value="Some text" onclick="@("window.location.href='" + @Url.Action("getData", "Home ") + "'");" />

      </div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#BranchId").change(function () {
            $.get("/Home/GetSectionList", { BranchId: $("#BranchId").val() }, function (data) {
                $("#SectionId").empty();
                $.each(data, function (index, row) {
                    $("#SectionId").append("<option value='" + row.SectionId + "'>" + row.SectionName + "</option>")
                });
            });
        })
    });
</script>
